# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage
coverage/

# ----------------------
# Spring Boot / Java
# ----------------------

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Spring Boot specific folders
target/
build/

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
*.iml
*.iws
.idea/
out/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Others
*.swp
*~

# Environment variables
.env

